{% extends 'layouts.html' %}
{% set active_page = "access" %}

{% block body %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Something</h1>
    </div>
    <a class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#accessModalusers" data-bs-dismiss="modal">Add
        User</a>
    
    <div class="modal fade" id="accessModalusers" aria-hidden="true" aria-labelledby="accessModalusers" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="ion-android-alert mr-1" aria-hidden="true"></i>
                    <h5 class="modal-title" id="accessModaluserLabel">Add User<h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h1 class="h2">Access Information</h1>
                    </div>

                    {% for message in get_flashed_messages() %}
                        <div class="alert alert-warning alert-dismissible fade show col-md-12" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    
                    {% endfor %}
                    
                    <form name="user_form" action="/post/user/add" method="POST" class="col-md-12">
                        {{ user_form.hidden_tag() }}
                        <div class="mb-3">
                            {{ user_form.first_name.label(class="col-form-label") }}
                            {{ user_form.first_name(class="form-control") }}
                        </div>
                        <div class="mb-3">
                            {{ user_form.last_name.label(class="col-form-label") }}
                            {{ user_form.last_name(class="form-control") }}
                        </div>
                        <div class="mb-3">
                            {{ user_form.title.label(class="col-form-label") }}
                            {{ user_form.title(class="form-control") }}
                        </div>
                        <div class="mb-3">
                            {{ user_form.role.label(class="col-form-label") }}
                            {{ user_form.role(class="form-control") }}
                        </div>
                        <div class="mb-3">
                            {{ user_form.email.label(class="col-form-label") }}
                            {{ user_form.email(class="form-control") }}
                        </div>
                        <div class="modal-footer">
                            {{ user_form.submit(class="btn btn-secondary") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</main>
{% endblock %}