{% extends 'layouts.html' %}
{% set active_page = "access" %}

{% block body %}
<main class="col-sm-12 col-md-9 col-lg-10 ms-sm-auto px-md-4">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Access Settings</h1>
    </div>

    <div class="m-md-4">
        <div class="container d-flex justify-content-center align-items-center">
            <div class="card">
                <h3>Things to Add:</h3>
                <ul>
                    <li>Maybe add approvers link to existing table</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="m-md-4">
        <div class="container d-flex mb-1">
            <div class="w80">
                <h3 class="d-inline">Access Table</h3>
                <div class="float-end">
                    <a class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#adminModalaccess" data-bs-dismiss="modal">Add
                        Room Access</a>
                    <a class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#adminModalcode" data-bs-dismiss="modal">Add
                        Access Code</a>
                </div>
            </div>
        </div>
        <div class="container justify-content-center align-items-center">
            <div id="access-matrix" class="table-responsive"></div>
        </div>    
    </div>

    <!-- modal -->
    <div class="modal fade" id="adminModalaccess" aria-hidden="true" aria-labelledby="adminModalaccess" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="ion-android-alert mr-1" aria-hidden="true"></i>
                    <h5 class="modal-title" id="adminModalaccessLabel">Add Room Access<h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form name="access_pair_form" action="/post/access/add" method="POST" class="col-md-12">
                        {{ access_pair_form.csrf_token(id = "access_pair_form_add_id") }}
                        <div class="mb-3">
                            {{ access_pair_form.access_code_id.label(class="col-form-label") }}
                            {{ access_pair_form.access_code_id(class="form-control") }}
                        </div>
                        <div class="mb-3">
                            {{ access_pair_form.space_number_id_fk.label(class="col-form-label") }}
                            {{ access_pair_form.space_number_id_fk(class="form-control") }}
                        </div>
                        <div class="modal-footer">
                            {{ access_pair_form.submit(class="btn btn-secondary", id="access_pair_add_submit") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="adminModalcode" aria-hidden="true" aria-labelledby="adminModalcode" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="ion-android-alert mr-1" aria-hidden="true"></i>
                    <h5 class="modal-title" id="adminModalcodeLabel">Add Access Code<h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form name="access_code_form" action="/post/code/add" method="POST" class="col-md-12">
                        {{ access_code_form.csrf_token(id = "access_code_form_add_id") }}
                        <div class="mb-3">
                            {{ access_code_form.access_description.label(class="col-form-label") }}
                            {{ access_code_form.access_description(class="form-control") }}
                        </div>
                        <div class="mb-3">
                            {{ access_code_form.authorized_by.label(class="col-form-label") }}
                            {{ access_code_form.authorized_by(class="form-control") }}
                        </div>
                        <div class="modal-footer">
                            {{ access_code_form.submit(class="btn btn-secondary", id="access_code_add_submit") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}