{% extends 'layouts.html' %}
{% set active_page = "admin" %}

{% block body %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Administrator</h1>
    </div>

    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show col-md-4" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    
    {% endfor %}

    <h3>Add User</h3>

    <form name="user_form" action="/post/user/add" method="POST" class="col-md-4">
        <!-- {{ user_form.hidden_tag() }} -->
        {{ user_form.csrf_token(id = "user_form_add_id") }}
        <div class="mb-3">
            {{ user_form.first_name.label(class="col-form-label") }}
            {{ user_form.first_name(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ user_form.last_name.label(class="col-form-label") }}
            {{ user_form.last_name(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ user_form.title.label(class="col-form-label") }}
            {{ user_form.title(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ user_form.role.label(class="col-form-label") }}
            {{ user_form.role(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ user_form.email.label(class="col-form-label") }}
            {{ user_form.email(class="form-control") }}
        </div>
        <div class="modal-footer">
            {{ user_form.submit(class="btn btn-secondary", id="user_add_submit") }}
        </div>
    </form>

    <h3>Building Form</h3>
    <form name="building_form" action="/post/building/add" method="POST" class="col-md-4">
        <!-- {{ building_form.hidden_tag() }} -->
        {{ building_form.csrf_token(id = "building_form_add_id") }}
        <div class="mb-3">
            {{ building_form.building_number.label(class="col-form-label") }}
            {{ building_form.building_number(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ building_form.building_name.label(class="col-form-label") }}
            {{ building_form.building_name(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ building_form.building_description.label(class="col-form-label") }}
            {{ building_form.building_description(class="form-control") }}
        </div>
        <div class="modal-footer">
            {{ building_form.submit(class="btn btn-secondary", id="building_add_submit") }}
        </div>
    </form>


    <h3>Room Form</h3>
    <form name="space_form" action="/post/room/add" method="POST" class="col-md-4">
        <!-- {{ space_form.hidden_tag() }} -->
        {{ space_form.csrf_token(id = "space_form_add_id") }}
        <div class="mb-3">
            {{ space_form.space_number_id.label(class="col-form-label") }}
            {{ space_form.space_number_id(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ space_form.room_building_number.label(class="col-form-label") }}
            {{ space_form.room_building_number(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ space_form.floor_number.label(class="col-form-label") }}
            {{ space_form.floor_number(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ space_form.wing_number.label(class="col-form-label") }}
            {{ space_form.wing_number(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ space_form.room_number.label(class="col-form-label") }}
            {{ space_form.room_number(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ space_form.room_type.label(class="col-form-label") }}
            {{ space_form.room_type(class="form-control") }}
        </div>
        <div class="modal-footer">
            {{ space_form.submit(class="btn btn-secondary", id="room_add_submit") }}
        </div>
    </form>



    
</main>
{% endblock %}