{% extends 'layouts.html' %}
{% set active_page = "admin" %}

{% block body %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Administrator</h1>
    </div>

    <a class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#adminModalusers" data-bs-dismiss="modal">Add
        User</a>
    
    <div class="modal fade" id="adminModalusers" aria-hidden="true" aria-labelledby="adminModalusers" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="ion-android-alert mr-1" aria-hidden="true"></i>
                    <h5 class="modal-title" id="adminModaluserLabel">Add User<h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    {% for message in get_flashed_messages() %}
                        <div class="alert alert-warning alert-dismissible fade show col-md-12" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    
                    {% endfor %}

                    <h3>Add User</h3>

                    <form name="user_form" action="/post/user/add" method="POST" class="col-md-12">
                        <!-- {{ user_form.hidden_tag() }} -->
                        {{ user_form.csrf_token(id = "user_form_add_id") }}
                        <div class="mb-3">
                            {{ user_form.first_name.label(class="col-form-label") }}
                            {{ user_form.first_name(class="form-control") }}
                        </div>
                        <div class="mb-3">
                            {{ user_form.last_name.label(class="col-form-label") }}
                            {{ user_form.last_name(class="form-control") }}
                        </div>
                        <div class="mb-3">
                            {{ user_form.title.label(class="col-form-label") }}
                            {{ user_form.title(class="form-control") }}
                        </div>
                        <div class="mb-3">
                            {{ user_form.role.label(class="col-form-label") }}
                            {{ user_form.role(class="form-control") }}
                        </div>
                        <div class="mb-3">
                            {{ user_form.email.label(class="col-form-label") }}
                            {{ user_form.email(class="form-control") }}
                        </div>
                        <div class="modal-footer">
                            {{ user_form.submit(class="btn btn-secondary", id="user_add_submit") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <a class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#adminModalbuilding" data-bs-dismiss="modal">Add
        Building</a>
    
    <div class="modal fade" id="adminModalbuilding" aria-hidden="true" aria-labelledby="adminModalbuilding" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="ion-android-alert mr-1" aria-hidden="true"></i>
                    <h5 class="modal-title" id="adminModalbuildingLabel">Add Building<h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <h3>Building Form</h3>
                    <form name="building_form" action="/post/building/add" method="POST" class="col-md-12">
                        <!-- {{ building_form.hidden_tag() }} -->
                        {{ building_form.csrf_token(id = "building_form_add_id") }}
                        <div class="mb-3">
                            {{ building_form.building_number.label(class="col-form-label") }}
                            {{ building_form.building_number(class="form-control") }}
                        </div>
                        <div class="mb-3">
                            {{ building_form.building_name.label(class="col-form-label") }}
                            {{ building_form.building_name(class="form-control") }}
                        </div>
                        <div class="mb-3">
                            {{ building_form.building_description.label(class="col-form-label") }}
                            {{ building_form.building_description(class="form-control") }}
                        </div>
                        <div class="modal-footer">
                            {{ building_form.submit(class="btn btn-secondary", id="building_add_submit") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




    <a class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#adminModalroom" data-bs-dismiss="modal">Add
        Room</a>
    
    <div class="modal fade" id="adminModalroom" aria-hidden="true" aria-labelledby="adminModalroom" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="ion-android-alert mr-1" aria-hidden="true"></i>
                    <h5 class="modal-title" id="adminModalroomLabel">Add Room<h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h3>Room Form</h3>
                    <form name="space_form" action="/post/room/add" method="POST" class="col-md-12">
                        <!-- {{ space_form.hidden_tag() }} -->
                        {{ space_form.csrf_token(id = "space_form_add_id") }}
                        <div class="mb-3">
                            {{ space_form.space_number_id.label(class="col-form-label") }}
                            {{ space_form.space_number_id(class="form-control") }}
                        </div>
                        <div class="mb-3">
                            {{ space_form.room_building_number.label(class="col-form-label") }}
                            {{ space_form.room_building_number(class="form-control") }}
                        </div>
                        <div class="mb-3">
                            {{ space_form.floor_number.label(class="col-form-label") }}
                            {{ space_form.floor_number(class="form-control") }}
                        </div>
                        <div class="mb-3">
                            {{ space_form.wing_number.label(class="col-form-label") }}
                            {{ space_form.wing_number(class="form-control") }}
                        </div>
                        <div class="mb-3">
                            {{ space_form.room_number.label(class="col-form-label") }}
                            {{ space_form.room_number(class="form-control") }}
                        </div>
                        <div class="mb-3">
                            {{ space_form.room_type.label(class="col-form-label") }}
                            {{ space_form.room_type(class="form-control") }}
                        </div>
                        <div class="modal-footer">
                            {{ space_form.submit(class="btn btn-secondary", id="room_add_submit") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <a class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#adminModalamenities" data-bs-dismiss="modal">Add
        Room Amenities</a>
    
    <div class="modal fade" id="adminModalamenities" aria-hidden="true" aria-labelledby="adminModalamenities" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="ion-android-alert mr-1" aria-hidden="true"></i>
                    <h5 class="modal-title" id="adminModalamenitiesLabel">Add Room Amenities<h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h3>Room Amenities Form</h3>
                    <form name="amenities_form" action="/post/amenities/add" method="POST" class="col-md-12">
                        <!-- {{ space_form.hidden_tag() }} -->
                        {{ amenities_form.csrf_token(id = "amenities_form_add_id") }}
                        <div class="mb-3">
                            {{ amenities_form.space_amenities.label(class="col-form-label") }}
                            {{ amenities_form.space_amenities(class="form-control") }}
                        </div>
                        <div class="mb-3">
                            {{ amenities_form.room_projector.label(class="col-form-label") }}
                            {{ amenities_form.room_projector(class="form-control") }}
                        </div>
                        <div class="mb-3">
                            {{ amenities_form.room_seating.label(class="col-form-label") }}
                            {{ amenities_form.room_seating(class="form-control") }}
                        </div>
                        <div class="modal-footer">
                            {{ amenities_form.submit(class="btn btn-secondary", id="amenities_add_submit") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <a class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#adminModalclass" data-bs-dismiss="modal">Add
        Room Classification</a>
    
    <div class="modal fade" id="adminModalclass" aria-hidden="true" aria-labelledby="adminModalclass" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="ion-android-alert mr-1" aria-hidden="true"></i>
                    <h5 class="modal-title" id="adminModalclassLabel">Add Room Classification<h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h3>Room Classification Form</h3>
                    <form name="room_type_form" action="/post/roomtype/add" method="POST" class="col-md-12">
                        <!-- {{ space_form.hidden_tag() }} -->
                        {{ room_type_form.csrf_token(id = "room_type_form_add_id") }}
                        <div class="mb-3">
                            {{ room_type_form.room_type_id.label(class="col-form-label") }}
                            {{ room_type_form.room_type_id(class="form-control") }}
                        </div>
                        <div class="mb-3">
                            {{ room_type_form.room_type_name.label(class="col-form-label") }}
                            {{ room_type_form.room_type_name(class="form-control") }}
                        </div>
                        <div class="modal-footer">
                            {{ room_type_form.submit(class="btn btn-secondary", id="room_type_add_submit") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <a class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#adminModaltitle" data-bs-dismiss="modal">Add
        Title</a>
    
    <div class="modal fade" id="adminModaltitle" aria-hidden="true" aria-labelledby="adminModaltitle" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="ion-android-alert mr-1" aria-hidden="true"></i>
                    <h5 class="modal-title" id="adminModaltitleLabel">Add Title<h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h3>Title Form</h3>
                    <form name="title_form" action="/post/title/add" method="POST" class="col-md-12">
                        <!-- {{ space_form.hidden_tag() }} -->
                        {{ title_form.csrf_token(id = "title_form_add_id") }}
                        <div class="mb-3">
                            {{ title_form.title.label(class="col-form-label") }}
                            {{ title_form.title(class="form-control") }}
                        </div>
                        <div class="modal-footer">
                            {{ title_form.submit(class="btn btn-secondary", id="title_add_submit") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <a class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#adminModalroles" data-bs-dismiss="modal">Add
        User Role</a>
    
    <div class="modal fade" id="adminModalroles" aria-hidden="true" aria-labelledby="adminModalroles" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="ion-android-alert mr-1" aria-hidden="true"></i>
                    <h5 class="modal-title" id="adminModalrolesLabel">Add User Role<h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h3>Roles Form</h3>
                    <form name="role_form" action="/post/role/add" method="POST" class="col-md-12">
                        {{ role_form.csrf_token(id = "role_form_add_id") }}
                        <div class="mb-3">
                            {{ role_form.user_role.label(class="col-form-label") }}
                            {{ role_form.user_role(class="form-control") }}
                        </div>
                        <div class="modal-footer">
                            {{ role_form.submit(class="btn btn-secondary", id="role_add_submit") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <a class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#adminModalzones" data-bs-dismiss="modal">Add
        Approver Space</a>
    
    <div class="modal fade" id="adminModalzones" aria-hidden="true" aria-labelledby="adminModalzones" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="ion-android-alert mr-1" aria-hidden="true"></i>
                    <h5 class="modal-title" id="adminModalzonesLabel">Assign Approver Space<h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h3>Approver Zone Form</h3>
                    <form name="approver_zone_form" action="/post/zones/add" method="POST" class="col-md-12">
                        {{ zone_form.csrf_token(id = "zone_form_add_id") }}
                        <div class="mb-3">
                            {{ zone_form.building_number.label(class="col-form-label") }}
                            {{ zone_form.building_number(class="form-control") }}
                        </div>
                        <div class="mb-3">
                            {{ zone_form.approver_id.label(class="col-form-label") }}
                            {{ zone_form.approver_id(class="form-control") }}
                        </div>
                        <div class="modal-footer">
                            {{ zone_form.submit(class="btn btn-secondary", id="zone_add_submit") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <a class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#adminModalapprovers" data-bs-dismiss="modal">Add
        Approver</a>
    
    <div class="modal fade" id="adminModalapprovers" aria-hidden="true" aria-labelledby="adminModalapprovers" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="ion-android-alert mr-1" aria-hidden="true"></i>
                    <h5 class="modal-title" id="adminModalapproversLabel">Add Approver<h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h3>Approvers Form</h3>
                    <form name="approver_form" action="/post/approver/add" method="POST" class="col-md-12">
                        {{ approver_form.csrf_token(id = "approver_form_add_id") }}
                        <div class="mb-3">
                            {{ approver_form.approver_id.label(class="col-form-label") }}
                            {{ approver_form.approver_id(class="form-control") }}
                        </div>
                        <div class="mb-3">
                            {{ approver_form.role_approved_by.label(class="col-form-label") }}
                            {{ approver_form.role_approved_by(class="form-control") }}
                        </div>
                        <div class="modal-footer">
                            {{ approver_form.submit(class="btn btn-secondary", id="approver_add_submit") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <a class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#adminModalreqstat" data-bs-dismiss="modal">Add
        Approver Status</a>
    
    <div class="modal fade" id="adminModalreqstat" aria-hidden="true" aria-labelledby="adminModalreqstat" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="ion-android-alert mr-1" aria-hidden="true"></i>
                    <h5 class="modal-title" id="adminModalreqstatLabel">Add Approver Status<h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h3>Approval Status Form</h3>
                    <form name="approval_status_form" action="/post/approvalstatus/add" method="POST" class="col-md-12">
                        {{ approval_status_form.csrf_token(id = "approval_status_form_add_id") }}
                        <div class="mb-3">
                            {{ approval_status_form.status_code_name.label(class="col-form-label") }}
                            {{ approval_status_form.status_code_name(class="form-control") }}
                        </div>
                        <div class="modal-footer">
                            {{ approval_status_form.submit(class="btn btn-secondary", id="approval_status_add_submit") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <a class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#adminModalaccess" data-bs-dismiss="modal">Add
        Room Access</a>
    
    <div class="modal fade" id="adminModalaccess" aria-hidden="true" aria-labelledby="adminModalaccess" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="ion-android-alert mr-1" aria-hidden="true"></i>
                    <h5 class="modal-title" id="adminModalaccessLabel">Add Room Access<h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h3>Access Pair Form</h3>
                    <form name="access_pair_form" action="/post/roomaccess/add" method="POST" class="col-md-12">
                        {{ access_pair_form.csrf_token(id = "access_pair_form_add_id") }}
                        <div class="mb-3">
                            {{ access_pair_form.access_code_id.label(class="col-form-label") }}
                            {{ access_pair_form.access_code_id(class="form-control") }}
                        </div>
                        <div class="mb-3">
                            {{ access_pair_form.space_number_id.label(class="col-form-label") }}
                            {{ access_pair_form.space_number_id(class="form-control") }}
                        </div>
                        <div class="modal-footer">
                            {{ access_pair_form.submit(class="btn btn-secondary", id="access_pair_add_submit") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <a class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#adminModalcode" data-bs-dismiss="modal">Add
        Access Code</a>
    
    <div class="modal fade" id="adminModalcode" aria-hidden="true" aria-labelledby="adminModalcode" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="ion-android-alert mr-1" aria-hidden="true"></i>
                    <h5 class="modal-title" id="adminModalcodeLabel">Add Access Code<h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h3>Access Code Form</h3>
                    <form name="access_code_form" action="/post/code/add" method="POST" class="col-md-12">
                        {{ access_code_form.csrf_token(id = "access_code_form_add_id") }}
                        <div class="mb-3">
                            {{ access_code_form.access_description.label(class="col-form-label") }}
                            {{ access_code_form.access_description(class="form-control") }}
                        </div>
                        <div class="mb-3">
                            {{ access_code_form.authorized_by.label(class="col-form-label") }}
                            {{ access_code_form.authorized_by(class="form-control") }}
                        </div>
                        <div class="modal-footer">
                            {{ access_code_form.submit(class="btn btn-secondary", id="access_code_add_submit") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</main>
{% endblock %}