{% extends 'layouts.html' %}
{% set active_page = "keys" %}

{% block body %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Keys</h1>
    </div>

    <ul>Things to add:  
  
        <li>Add keys by status table (groupby status) and add key status button above table - api done</li>
        <li>X - Show stats - weekly pickup totals, pickups by day</li>
        <li>Make dashboard very key shop friendly - add key status update - setup table with buttons for key handoff</li>
    </ul>

    <h3 class="d-inline">Orders in Progress</h3>
    <a class="btn btn-secondary mb-1 mx-1 float-end d-inline" data-bs-toggle="modal" data-bs-target="#adminModalordstat" 
        data-bs-dismiss="modal">Add Order Status</a>
    <div id="orders"></div>  

    <h3 class="d-inline">Key Shop Activity</h3>
    <a class="btn btn-secondary mb-1 float-end d-inline" data-bs-toggle="modal" data-bs-target="#keysModalkeyfabrication"
        data-bs-dismiss="modal">Add
        Key Fabrication Status</a>
    <div id="key-shop"></div>

    <h3 class="d-inline">Current Key Inventory</h3>
    <a class="btn btn-secondary mb-1 float-end d-inline" data-bs-toggle="modal" data-bs-target="#keysModalkeystatus"
        data-bs-dismiss="modal">Add
        Inventory Status</a>
    <div id="key-inventory"></div>

    <!-- Modals -->
    
    <div class="modal fade" id="keysModalkeystatus" aria-hidden="true" aria-labelledby="keysModalkeystatus" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="ion-android-alert mr-1" aria-hidden="true"></i>
                    <h5 class="modal-title" id="keysModalkeystatusLabel">Add Key Status<h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form name="keystatus_form" action="/post/key/status/add" method="POST" class="col-md-12">
                        {{ key_status_form.csrf_token(id = "keystatus_form_add_id") }}
                        <div class="mb-3">
                            {{ key_status_form.key_status.label(class="col-form-label") }}
                            {{ key_status_form.key_status(class="form-control") }}
                        </div>
                        <div class="modal-footer">
                            {{ key_status_form.submit(class="btn btn-secondary", id="keystatus_add_submit") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    
    <div class="modal fade" id="keysModalkeyfabrication" aria-hidden="true" aria-labelledby="keysModalkeyfabrication" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="ion-android-alert mr-1" aria-hidden="true"></i>
                    <h5 class="modal-title" id="keysModalkeyfabricationLabel">Add Key Fabrication Status<h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form name="fabrication_form" action="/post/fabrication/status/add" method="POST" class="col-md-12">
                        {{ fabrication_form.csrf_token(id = "fabrication_form_add_id") }}
                        <div class="mb-3">
                            {{ fabrication_form.fabrication_status.label(class="col-form-label") }}
                            {{ fabrication_form.fabrication_status(class="form-control") }}
                        </div>
                        <div class="modal-footer">
                            {{ fabrication_form.submit(class="btn btn-secondary", id="fabrication_add_submit") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="adminModalordstat" aria-hidden="true" aria-labelledby="adminModalordstat" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="ion-android-alert mr-1" aria-hidden="true"></i>
                    <h5 class="modal-title" id="adminModalordstatLabel">Add Order Status<h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form name="request_status_form" action="/post/order/status/add" method="POST" class="col-md-12">
                        {{ order_status_form.csrf_token(id = "order_status_form_add_id") }}
                        <div class="mb-3">
                            {{ order_status_form.order_status.label(class="col-form-label") }}
                            {{ order_status_form.order_status(class="form-control") }}
                        </div>
                        <div class="modal-footer">
                            {{ order_status_form.submit(class="btn btn-secondary", id="order_status_add_submit") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<!-- Modals for in-table buttons -->
    <div class="modal fade" id="tableButtonModal" tabindex="-1" aria-labelledby="tableButtonModalLabel" aria-hidden="true"
        data-bs-backdrop="static" data-bs-keyboard="false">
    
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="ion-android-alert mr-1" aria-hidden="true"></i>
                    <h5 class="modal-title" id="tableButtonModalLabel">Confirm Action</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="button-message"></p>
                    <form id="order-status-form-id" name="request_status_form" action="/api/orders/status/placeholder/placeholder" method="POST" class="col-md-12">
                        {{ update_order_status_form.csrf_token(id = "update_order_status_form_add_id") }}
                        <div class="mb-3">
                            {{ update_order_status_form.order_status_id.label(class="col-form-label") }}
                            {{ update_order_status_form.order_status_id(class="form-control") }}
                        </div>
                        <div class="modal-footer">
                            {{ update_order_status_form.submit(class="btn btn-secondary", id="update_order_status_add_submit") }}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

</main>
{% endblock %}