{% extends 'layouts.html' %}
{% set active_page = "user" %}

{% block body %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
    </div>


    <h2>Create User</h2>
    <form name="user_form" action="api/post/add_user" method="POST" class="col-md-4">
        {{ user_form.hidden_tag() }}
        <div class="mb-3">
            {{ user_form.first_name.label(class="col-form-label") }}
            {{ user_form.first_name(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ user_form.last_name.label(class="col-form-label") }}
            {{ user_form.last_name(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ user_form.title.label(class="col-form-label") }}
            {{ user_form.title(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ user_form.role.label(class="col-form-label") }}
            {{ user_form.role(class="form-control") }}
        </div>
        <div class="modal-footer">
            {{ user_form.submit(class="btn btn-secondary") }}
        </div>
    </form>

</main>
{% endblock %}